/.vscode
*/__pycache__/*
/communication/Tmotor/__pycache__/*
/communication/motorC2T/__pycache__/*
/communication/RMD/__pycache__/*
communication/Tmotor/src/motor_driver/__pycache__/*
communication/RMD/motor/__pycache__/*
DataPlotting/*
/*.pkl
communication/__pycache__/*
/data/*
*.pyc
simulation/trains/*
ak*/*
simulation/imm-gym/bigger_dataset/*
simulation/imm-gym/train/*
simulation/imm-gym/validation/*
simulation/imm-gym/result/*
perception/real_imgs/*
data/previous_codes
trains/
weights/
outcmaes/

old_control/
communication/sysID/real_data/*
communication/sysID/waypoints/*
keypoint_vis/
sysid_cnt*
sysID_traj*
sysID_None*
real_data*
wandb/
experiment/result/*.pkl
experiment/motion_planning/*.pkl
experiment/*.pkl
sim2real_analysis.ipynb
bimanual_snatch/
shadowing/