<?xml version="1.0" ?>
<robot name="basket">
  <link name="basket">
    <visual>
		<origin xyz="-0.12 -0.12 -0.30" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://Panda/meshes/collision/basket.STL.stl" scale ="0.001 0.001 0.001"/>
      </geometry> 
    </visual>
    <collision>
		<origin xyz="-0.12 -0.12 -0.30" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://Panda/meshes/collision/basket.STL.stl" scale ="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
</robot>