<?xml version="1.0" ?>
<robot name="ColoredCube">
  <link name="card">
    <visual>
      <geometry>
        <mesh filename="package://Panda/meshes/collision/coloredcube.obj" scale ="1 1 1"/>
      </geometry> 
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://Panda/meshes/collision/coloredcube.obj" scale ="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>